$main-color: rgb(131, 130, 130);
$phone:767px;
@mixin title-p {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}
@mixin more-btn {
    width: 80px;
    height: 35px;
    background: black;
    color: white;
    border-radius: 10px;
}
@mixin tag {
    text-align: left;

    span {
        display: inline-block;
        text-align: left;
        background: #ccc;
        padding: 5px 10px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟證黑體;
}
body {
    background: rgb(235, 233, 233);
}

nav {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    text-align: center;
    background: #fff;

    #menu{
        display: none;
        @media screen and (max-width: $phone){
            display: block;
          }
    }
    div > img {
        margin: 10px 0;
    }
    #img-people {
        text-align: right;
        margin-right: 150px;
        cursor: pointer;
        @media screen and (max-width: $phone){
            margin: 0 auto;
          }
    }
    #nav-a {
        text-decoration: none;
        padding: 15px;
        text-align: left;
        @media screen and (max-width: $phone){
            display: none;
          }

        a {
            display: inline-block;
            margin: 0 10px;
            color: $main-color;
            border-bottom: 0px solid black;
            &:hover {
                border-bottom: 2px solid black;
            }
        }
    }
}

// 輪播
.carousel{
    @media screen and (max-width: $phone){
        overflow: hidden;
      }
}
.slick-img {
    height: 400px;
    object-fit: cover;
}
.carousel-caption {
    margin-bottom: 100px;
    h5 {
        font-size: 50px;
        font-weight: bold;
    }
    p {
        color: $main-color;
    }
}

.carousel-control-prev-icon {
    background-image: url(./img/ICON-LEFT.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -69px !important;
    background: black;
    width: 30px;
    height: 30px;
    // padding: 20px;
    border-radius: 20px;
    opacity: 0.8;
    position: relative;
    left: -90px;
}
.carousel-control-next-icon {
    background-image: url(./img/ICON-right.png) !important ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5px -69px !important;
    background: black;
    width: 30px;
    height: 30px;
    // padding: 20px;
    border-radius: 20px;
    opacity: 0.8;
    position: relative;
    right: -90px;
}
// 景點
section {
    background: #6aa36a62;
    height: 100%;
    padding-bottom: 50px;
    @media screen and (max-width: $phone){
        padding: 0 15px;
    }
    #Attractions {
        width: 1250px;
        text-align: center;
        margin: 0 auto;
        padding-top: 20px;
        @media screen and (max-width: $phone){
            width: 100%;
            // margin: 0 10px;
          }

        #view-title {
            display: grid;
            grid-template-columns: 50% 50%;
            @media screen and (max-width: $phone){
                grid-template-columns: 60% 40%;
              }
        }
        #view-left {
            @include title-p;
        }
        #view-right {
            text-align: right;
        }
    }

    #view-box {
        width: 1250px;
        display: grid;
        grid-template-columns: 400px 400px 400px;
        grid-gap: 25px;

        margin: 0 auto;
        @media screen and (max-width: $phone){
            width: 100%;
            grid-template-columns:380px;
            grid-gap: 0;
            
          }
        #card-stope {
            width: 400px;
            background: white;
            box-shadow: 2px 8px 3px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            @media screen and (max-width: $phone){
                width: 380px;
                margin-bottom: 20px;
              }
            

            #view-pic {
                width: 100%;
                height: 200px;
                
            }
            #card-data {
                padding: 10px 20px;
                text-align: left;
                h3 {
                    font-size: 25px;
                    font-weight: bold;
                    text-align: left;
                }
                p {
                    color: $main-color;
                }
                #card-tage {
                    @include tag;
                    margin-top: 20px;
                }
            }
            #card-sm {
                display: grid;
                grid-template-columns: 50% 50%;
                text-align: left;
            }
        }
        // 卡片底部
        .card-buttom {
            @media screen and (max-width: $phone){
                padding: 0 10px;
              }
            p {
                display: inline;
            }
        }
        .card-buttom-bt {
            text-align: left;
            display: grid;
            grid-template-columns: 5% 95%;
            @media screen and (max-width: $phone){
                padding: 0 10px;
              }
            p {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}
// 按鈕More
.btn-all {
    @include more-btn;
}

#new {
    width: 1250px;
    height: 100%;

    display: grid;
    grid-template-columns: 820px 400px;
    margin: 0 auto;
    margin-top: 30px;
    grid-gap: 30px;
    margin-bottom: 40px;
    @media screen and (max-width: $phone){
        width: 100%;
        display: block;
      }
    
    // event
    #events {
        width: 820px;
        @media screen and (max-width: $phone){
            width: 100%;
          }

        #event-title {
            display: grid;
            grid-template-columns: 50% 50%;
            @media screen and (max-width: $phone){
                padding: 0 30px;
              }
            #event-left {
                @include title-p;
            }
            #event-right {
                text-align: right;
            }
        }
        #event-card {
            width: 100%;
            height: 250px;
            display: grid;
            grid-template-columns: 250px 550px;
            background: #fff;
            box-shadow: 2px 8px 3px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            margin-bottom: 20px;
            @media screen and (max-width: $phone){
                display: block;
                width: 350px;
                height: 100%;
                margin: 0 auto;
                margin-bottom: 20px;
              }
            #event-img {
                img {
                    width: 250px;
                    height: 250px;
                    object-fit: cover;
                    @media screen and (max-width: $phone){
                        
                        width: 100%;
                      }
                }
            }
            #event-text {
                padding: 5px 15px;
                
                #text-time {
                    font-size: 30px;
                    color: $main-color;
                    font-weight: bold;
                }
                h4 {
                    font-size: 22px;
                }
            }
            #event-tag {
                @include tag;
                // margin-bottom: 30px;
            }
            hr{
                height: 2px;
            }
            #event-buttom {
                display: grid;
                grid-template-columns: 50% 50%;
                @media screen and (max-width: $phone){
                        
                    display: block;
                  }
                .event-icon {
                    display: grid;
                    grid-template-columns: 5% 95%;
                    p {
                        margin-left: 20px;
                        @media screen and (max-width: $phone){
                        
                            margin-left: 10px;
                          }
                    }
                }
            }
        }
    }
    // News & Bulletin

    #news-box {
        width: 400px;

        #news-title {
            display: grid;
            grid-template-columns: 50% 50%;
            @media screen and (max-width: $phone){
                padding: 0 30px;
                grid-template-columns: 70% 30%;
              }
            #news-left {
                @include title-p;
            }
            #news-right {
                text-align: right;
            }
        }
        // news-card
        #news-card {
            height: 200px;
            background: #fff;
            box-shadow: 2px 8px 3px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 20px;
            @media screen and (max-width: $phone){
                width: 350px;
                margin: 0 auto;
                margin-bottom: 20px;
              }
            #card-title {
                display: grid;
                grid-template-columns: 10% 30% 60%;
                h5 {
                    width: 35px;
                    height: 30px;
                    padding: 7px 4px;
                    font-weight: bold;
                    font-size: 8px;
                    background: black;
                    color: white;
                    border-radius: 50%;
                }
                #title-p {
                    display: inline-block;
                    margin: 0 10px;
                }
                span {
                    text-align: right;
                    color: $main-color;
                }
            }
            #new-text-p {
                font-size: 12px;
            }
        }
    }
}
.new-text {
    font-weight: bold;
}
.new-text-p {
    color: $main-color;
    // font-size: 10px;
}

// 頁尾照片
#store {

    width: 100%;
    height: 150px;
    text-align: center;
    background-image: url(./img/store1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -750px;
    padding-top: 50px;
    h2{
        color: $main-color;
        font-size: 26px;
        font-weight: bold;
    }
    span{
        font-size: 12px;
        color: $main-color;
        background: black;
        padding: 10px 15px;
        border-radius: 10px;
        cursor: pointer;
    }
}

// footer
footer{
    height: 200px;
   
    background: black;
    // padding: 100px;
    text-align: center;
    padding-top: 80px;
    
    #icon-box{
        display: block;
        margin: 20px;
        a{
            margin: 0 5px;
            background: white;
            padding: 3px;
            border-radius: 100%;
        }
    }
    
}
#copy{
    background: rgb(41, 40, 40);
    color: $main-color;
    text-align: center;
    padding: 10px 0;
}